::v-deep.m-app-header {
  .vs-navbar-content {
    z-index: 2000;  
    .vs-navbar {
    }
  }
  .vs-sidebar__item.hasIcon.active {
    padding-left: 0;
  }
  .van-search {
    .van-icon-search {
      font-size: 22px;
    }
  }
}
