::v-deep.m-app-header {
  .vs-navbar-content {
    position: fixed;
    z-index: 2000;  
    .vs-navbar {
    }
  }
  .vs-sidebar {
    overflow-x: auto;
    .vs-sidebar__item {
      height: 48px;
      &.hasIcon.active {
        padding-left: 0;
      }
    }
  }
  .van-search {
    .van-icon-search {
      font-size: 22px;
    }
  }
}
