$--color-white: #ffffff;
$--color-black: #000000;
$--color-primary: #409eff;
$--color-pattens-blue: #DCE6FF;
$--color-hawkes-blue: #D7ECFB;
$--height-header: 48px;
$--height-footer: 50px;
$--full-height: calc(var(--vh, 1vh) * 100);
// $--color-info: ;
